body {
  margin: 0;
  padding: 0;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px;
  width: 100%;
}

.canvas-controls {
  margin-bottom: 20px;
  text-align: center;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.canvas-wrapper canvas {
  border-radius: 30px;
}
  